<h1 class="title">Guided Query</h1>
<p>How would you like to search?</p>

<div class="container is-fullwidth is-flex is-flex-direction-column my-3">
    <button class="button is-primary m-1" onclick="queryType = 'all'; showAll()">View All Entries</button>
    <button class="button is-primary m-1" onclick="prepareForm('company')">Company Name</button>
    <button class="button is-primary m-1" onclick="prepareForm('country')">Country</button>
</div>

<div id="formContainer"></div>
<div id="queryResultDiv"></div>

<script>

    let queryType = "";
    let query = "";

    const createTable = (taxPayers) => {
        const table = document.createElement('table');
        table.classList.add('table', 'is-fullwidth');

        const thead = document.createElement('thead');
        
        const headers = ['Payer ID', 'Company', 'Street', 'City', 'Country', 'Tax ($)'];
        
        const headerRow = document.createElement('tr');
        headers.forEach(header => {
            const th = document.createElement('th');
            th.textContent = header;
            headerRow.appendChild(th);
        })
        
        thead.appendChild(headerRow);
        
        const tbody = document.createElement('tbody');

        taxPayers.forEach(taxPayer => {
            const tr = document.createElement('tr');
            const payerID = document.createElement('td');
            const company = document.createElement('td');
            const street = document.createElement('td');
            const city = document.createElement('td');
            const country = document.createElement('td');
            const tax = document.createElement('td');

            payerID.textContent = taxPayer.payer_id;
            company.textContent = taxPayer.company;
            street.textContent = taxPayer.street;
            city.textContent = taxPayer.city;
            country.textContent = taxPayer.country;
            tax.textContent = taxPayer.tax;

            tr.appendChild(payerID);
            tr.appendChild(company);
            tr.appendChild(street);
            tr.appendChild(city);
            tr.appendChild(country);
            tr.appendChild(tax);

            tbody.appendChild(tr);
        });

        table.appendChild(thead);
        table.appendChild(tbody);

        return table
    }

    const setupForm = () => {
        const formContainer = document.getElementById('formContainer');
    
        const queryForm = document.getElementById('queryForm');
    
        queryForm.addEventListener('submit', async (event) => {
            event.preventDefault();
    
            query = document.getElementById('query').value;
            queryType = document.getElementById('queryForm').getAttribute('param');

            document.getElementById('generateReport').disabled = false;
            document.getElementById('generateReport').addEventListener('click', generateReport);

            const runQuery = document.getElementById('runQuery');
            runQuery.classList.add('is-loading');
            
            fetch(`{{ url_for('query_taxpayers') }}?${queryType}=${query}`)
            .then(response => {
                runQuery.classList.remove('is-loading');
                if (response.status === 200) {
                    return response.json();
                } else if (response.status === 404) {
                    document.getElementById('queryResultDiv').innerHTML = '<p>No results found</p>';
                    return [];
                } else {
                    throw new Error(`Got status ${response.status} from server`);
                }
            })
            .then(data => {
                if (data.length === 0) {
                    runQuery.classList.remove('is-loading');
                    return;
                }
                document.getElementById('queryResultDiv').innerHTML = '';
                document.getElementById('queryResultDiv').appendChild(createTable(data));
                runQuery.classList.remove('is-loading');
            })
            .catch(error => console.error(error))
        });
    }

    const generateReport = async () => {
        const response = await fetch(`{{ url_for('query_taxpayers') }}?report=true&${queryType}=${query}`);
        const result = await response.blob();
        a = document.createElement('a');
        a.style.display = 'none';
        document.body.appendChild(a);
        a.href = URL.createObjectURL(result);
        a.download = `Walamoo_${queryType}_${query}_report.txt`;
        a.click();
        setTimeout(() => {
            document.body.removeChild(a);
            URL.revokeObjectURL(a.href);
        }, 60000);
    }

    const prepareForm = (queryType) => {
        const formContainer = document.getElementById('formContainer');
        formContainer.innerHTML = `
        <form id="queryForm" param="{ queryType }">
            <div class="field">
                <div class="is-fullwidth is-flex is-justify-content-space-between is-align-items-center my-2">
                    <label for="query" class="label">Searching by { queryType }:</label>
                    <div class="buttons">
                        <button id="generateReport" class="button is-primary" disabled>Generate Report</button>
                    </div>
                </div>
                <div class="control is-flex is-justify-content-space-between">
                    <input type="text" name="query" id="query" class="input is-flex-2" style="max-width: 90%;">
                    <input type="submit" value="Run Query" id="runQuery" class="button is-primary">
                </div>
            </div>
        </form>`.replace(/{ queryType }/g, queryType);
        setupForm();
    }

    const showAll = async () => {
        const taxpayers = await fetch("{{ url_for('get_all_taxpayers') }}");

        if (!taxpayers.ok) {
            alert("An error occurred while fetching tax payers");
            return;
        }

        const data = await taxpayers.json();
        if (data.length === 0) {
            document.getElementById('queryResultDiv').innerHTML = '<p>No results found</p>';
            return;
        }
        document.getElementById('queryResultDiv').appendChild(createTable(data));

    }

</script>