<div class="recordContainer">
    <div class="recordTitle">
        Records In Database
    </div>
    <div class="recordValue" id="recordsCount"> { recordsCount } </div>
</div>
<div class="recordContainer">
    <div class="recordTitle">
        Records In Database
    </div>
    <div class="recordValue" id="yearlyTaxPay"> { yearlyTaxPay } </div>
</div>
<div class="recordContainer">
    <div class="recordTitle">
        Records In Database
    </div>
    <div class="recordValue" id="taxPayingCountries"> { taxPayingCountries } </div>
</div>
<div class="recordContainer">
    <div class="recordTitle">
        Records In Database
    </div>
    <div class="recordValue" id="taxPayingCities">{ taxPayingCities }</div>
</div>
<button class="button is-success">View Cities Per Country</button>