<div class="container fixed-grid">
    <div class="grid">
        <div class="cell" id="insufficientTaxes">
            <h2 class="subtitle">Companies with Insufficient Taxes</h2>
            <ul>
                <li>Example company 1</li>
                <li>Example company 2</li>
            </ul>
        </div>
        <div class="cell" id="paidCompanies">
            <h2 class="subtitle">Companies that paid</h2>
            <ul>
                <li>Example company 3</li>
                <li>Example company 4</li>
            </ul>
        </div>
        <div class="cell" id="revenue">
            <ul>
                <li>Minimum Revenue: <span id="minRevenueStatus">Exceeded</span> </li>
                <li>Companies with sufficient tax: <span id="sufficientTax">43</span></li>
            </ul>
        </div>
        <div class="cell" id="unpaidCompanies">
            <h2 class="subtitle">Companies that did not pay</h2>
            <ul>
                <li>Example company 1</li>
                <li>Example company 5</li>
            </ul>
        </div>
    </div>
</div>