{% extends 'base.html' %}

{% block title %} Thresholds {% endblock %}

{% block content %}

    <div id="thresholdContainer">
        <h1 class="title">Alerts / Thresholds</h1>
        <div class="container">
            <h2 class="subtitle">Enter Criteria</h2>
            <form action="" class="is-fullwidth is-flex is-justify-content-space-between" onsubmit="return false" id="alertForm">
                <div class="container">
                    <div class="is-flex is-justify-content-space-between">
                        <div class="field">
                            <label for="min_tax" class="label">Minimum Tax</label>
                            <input type="number" name="min_tax" id="min_tax" class="input">
                        </div>
                        <div class="field">
                            <label for="max_tax" class="label">Maximum Tax</label>
                            <input type="number" name="max_tax" id="max_tax" class="input">
                        </div>
                    </div>
                    <div class="field">
                        <label for="min_rev" class="label">Minimum Revenue</label>
                        <div class="control">
                            <input type="number" name="min_rev" id="min_rev" class="input">
                        </div>
                    </div>
                    <div class="is-flex is-justify-content-space-around control">
                        <label for="paid" class="checkbox">
                            <input type="checkbox" name="paid" id="paid" class="checkbox">
                            Did not pay</label>
                        <label for="notpaid" class="checkbox">
                            <input type="checkbox" name="notpaid" id="notpaid" class="checkbox">
                            Did Pay</label>
                    </div>
                    <div class="field">
                        <label for="deadline_month" class="label">Deadline Month</label>
                        <div class="select">
                            <select name="deadline_month" id="deadline_month">
                                <option value="jan">January</option>
                                <option value="feb">February</option>
                                <option value="mar">March</option>
                                <option value="apr">April</option>
                                <option value="may">May</option>
                                <option value="jun">June</option>
                                <option value="jul">July</option>
                                <option value="aug">August</option>
                                <option value="sep">September</option>
                                <option value="oct">October</option>
                                <option value="nov">November</option>
                                <option value="dec">December</option>
                            </select>
                        </div>
                    </div>
                    <div class="field">
                        <label for="notify" class="checkbox">
                            Notify me when criteria is met
                            <input type="checkbox" name="notify" id="notify" class="checkbox">
                        </label>
                    </div>
                </div>
                <div class="container m-3">
                    <div id="buttonDiv" style="width: 60%">
                        <input type="submit" value="Apply" class="button is-primary is-fullwidth" id="applyButton">
                    </div>
                </div>
            </form>
        </div>
    </div>

<script>
    const form = document.getElementById('alertForm');
    form.addEventListener('submit', async (event) => {
        event.preventDefault();

        const min_tax = document.getElementById('min_tax').value;
        const max_tax = document.getElementById('max_tax').value;
        const min_rev = document.getElementById('min_rev').value;
        const paid = document.getElementById('paid').checked;
        const notpaid = document.getElementById('notpaid').checked;
        const deadline_month = document.getElementById('deadline_month').value;
        const notify = document.getElementById('notify').checked;

        const jsonData = JSON.stringify(
            Object.fromEntries(data.entries())
        )

        const applyButton = document.getElementById("applyButton");
        applyButton.classList.add("is-loading");

        const response = await fetch("{{ url_for('alerts') }}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(
                {
                    "min_tax": min_tax,
                    "max_tax": max_tax,
                    "min_revenue": min_rev,
                    "check_pay": paid,
                    "check_no_pay": notpaid,
                    "deadline_month": deadline_month,
                    "notify": notify
                }
            )
        });

        if (response.status === 200) {
            const data = await response.json();
            alert(data.success);
            navigate("{{ url_for('alerts') }}");
        } 
        else {
            const data = await response.json();
            alert(data.error);
        }
        applyButton.classList.remove("is-loading");
        
    })
</script>

{% endblock %}