<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Walamoo - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', path='styles/style.css') }}">
    
</head>
<body>
    <header class="is-flex is-justify-content-space-between is-align-items-center">
            <span id="title" style="flex: 2">
                <span target="{{ url_for('index') }}" class="is-flex is-align-items-center nav-link quiet-link" aria-label="Home" title="Home">
                    <img src="{{ url_for('static', path='images/logo.png') }}" alt="Walamoo Logo" height="50px" width="50px">
                    <h1>Walamoo Tax System </h1>
                </span>
            </span>
            <span id="nav" class="is-flex is-justify-content-space-evenly is-flex-grow-1">
                {% block nav %}
                    <span target="{{ url_for('dashboard') }}" class="nav-link" aria-label="Dashboard" title="Dashboard">Dashboard</span>
                    <span target="{{ url_for('query') }}" class="nav-link" aria-label="Query" title="Query">Query</span>
                    <span target="{{ url_for('xml') }}" class="nav-link" aria-label="XML Reload" title="XML Reload">XML</span>
                    <span class="icon is-flex is-flex-direction-column is-justify-content-flex-start quiet-link" onclick="toggleMenu()">
                        <img src="{{ url_for('static', path='icons/user.png') }}" alt="" width="50px" height="50px" class="has-background-grey-light" style="border-radius: 50%;">
                        <div id="menu" class="has-background-info-dark p-2" style="border-radius: 5px; display: none">
                            <span target="{{ url_for('alerts') }}" class="nav-link" aria-label="Alerts/Thresholds" title="Alerts/Thresholds">Alerts/Thresholds</span>
                            <span target="{{ url_for('scenarios') }}" class="nav-link" aria-label="Monthly Scenarios" title="Monthly Scenarios">Monthly Scenarios</span>
                            <span target="{{ url_for('recon') }}" class="nav-link" aria-label="Reconciliation" title="Reconciliation">Reconciliation</span>
                            <span target="{{ url_for('logout') }}" class="nav-link" aria-label="Logout" title="Logout">Logout</span>
                        </div>
                    </span>
                {% endblock %}
            </span>
    </header>
    <section>
        <div class="container">{% block content %}{% endblock %}</div>
    </section>

</body>

<script>
    const navLinks = document.querySelectorAll(".nav-link");

    navLinks.forEach(link => {
        link.addEventListener("click", () => {
            navigate(link.getAttribute("target"))
        })
    })

    const toggleMenu = () => {
        const menu = document.getElementById("menu")
        menu.style.display = menu.style.display === "none" ? "block" : "none"
    }
</script>

<script src="{{ url_for('static', path='scripts/index.js') }}"></script>
<script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
</html>