{% extends 'base.html' %}

{% block title %} Login {% endblock %}   

{% block nav %}

    <div id="textColorDiv" class="is-flex is-flex-direction-column">
        <span id="textColor">Text Color</span>
        <div class="select">
            <select name="textColorSelect" id="textColorSelect" onchange="changeTextColor(this)">
                <option value="default">Default</option>
                <option value="black">Black</option>
                <option value="green">Green</option>
                <option value="blue">Blue</option>
            </select>
        </div>
    </div>

{% endblock %}

{% block outside %}
    <div id="popupContainer" style="position: absolute; top: 0; left: 0"></div>
{% endblock %}

{%  block content %} 
    <div id="loginContainer" class="container" style="max-width: 60%; margin-top: 10%" hx-get="{{ url_for('login_form') }}" hx-target="#loginContainer" hx-swap="innerHTML" hx-trigger="load"></div>

{% endblock %}